/*
 * This file is part of startpage.

 * startpage is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.

 * startpage is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.

 * You should have received a copy of the GNU General Public License
 * along with startpage.  If not, see <https://www.gnu.org/licenses/>.

 * Copyright (c) 2020-2021, Maciej Barć <xgqt@riseup.net>
 * Licensed under the GNU GPL v3 License
 */


/* Imports */

/* https://github.com/FortAwesome/Font-Awesome */
@import url("../fonts/awesome/css/font-awesome.min.css");

/* https://github.com/Lukas-W/font-logos */
@import url("../fonts/logos/assets/font-logos.css");

/* https://github.com/vorillaz/devicons */
@import url("../fonts/devicons/css/devicons.min.css");

/* Scrollbar */
@import url("./hide-scroll.css");


/* General */

* {
    background-repeat: no-repeat;
    overflow: auto;
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
    font-size: medium;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, #18242b, #482a52);
    overflow: hidden;
}

#box {
    background-color: #292b2e;
    border-radius: 15px;
    box-shadow: 0 20px 70px #000000;
    color: white;
    height: 93%;
    margin: 30px auto;
    max-width: 1200px;
    text-align: center;
    width: 93%;
}


/* Page box */

#searchbox {
    color: darkcyan;
}

#searchbox input {
    background-color: #000000;
    border-radius: 25px;
    border: 3px solid #482a52;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 5px;
    color: darkcyan;
}

.fill-div {
    display: block;
    height: 100%;
    text-decoration: none;
    width: 100%;
}

.page {
    padding: auto;
    width: 200px;
    height: 100px;
    float: left;
}

.page a {
    color: darkcyan;
    text-decoration: none;
}
